@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: #000011;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background: rgba(255, 255, 255, 0.1) !important;
}
